@model IEnumerable<MealListViewModel>;

<style>
	th {
		width: 200px;
	}

	.price::before {
    content: "€ ";
}
</style>

<h1>Meals</h1>
<a asp-controller="Restaurant" asp-action="Create">Add meal</a>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Detail</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td class="price">@item.Price.ToString("0.00")</td>
				<td><a asp-controller="Restaurant" asp-action="Detail" asp-route-id="@item.Id">View meal</a></td>
				<td><a asp-controller="Restaurant" asp-action="Edit" asp-route-id="@item.Id">Edit meal</a></td>
				<td><a asp-controller="Restaurant" asp-action="Delete" asp-route-id="@item.Id">Delete meal</a></td>
			</tr>
		}
	</tbody>
</table>